<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <div>
    <form action="/doproofreading" method="POST">
        <label for="bookSelectionDropdown">Select a Book:</label>
            <select id="bookSelectionDropdown" name="bookSelectionDropdown">
                <option id="defaultBook">{{ defaultBook }}</option>
            </select>

        <label for="chapterSelectionDropdown">Select a Chapter:</label>
            <select id="chapterSelectionDropdown" name="chapterSelectionDropdown">
                <option id="defaultChapter">{{ defaultChapter }}</option>
            </select>
        <br>

        <input type="checkbox" name="include_first_edition" id="include_first_edition" checked>
            <label for="include_first_edition">First Edition (1661/1663)</label>

        <input type="checkbox" name="include_second_edition" id="include_second_edition" checked>
            <label for="include_second_edition">Second Edition (1685)</label>
        
        {% if hasMayhew %}
        <input type="checkbox" name="include_mayhew" id="include_mayhew" checked>
            <label for="include_mayhew">Mayhew (1709) [does nothing yet]</label>
        {% endif %}

        {% if hasZerothEdition %}
        <input type="checkbox" name="include_zeroth_edition" id="include_zeroth_edition">
            <label for="include_zeroth_edition">"Zeroth"  Edition Genesis (1655) [does nothing yet]</label>
        {% endif %}

        <br>

        <input type="checkbox" name="include_KJV" id="include_KJV" checked>
            <label for="include_KJV">Show KJV</label>

        <input type="checkbox" name="include_grebrew" id="include_grebrew">
            <label for="include_grebrew">Show Hebrew/Greek (does nothing yet)</label>
        
        <br>

        <span style="color:red"><b>Highlight</b></span> Differences (only works for 1st vs. 2nd edition for now):
        <input type="radio" name="show_differences" id="no_show" value = "no" checked>
            <label for="show_differences">No</label>

        <input type="radio" name="show_differences" id="include_casing" value="include_casing">
            <label for="include_casing">Yes, including letter casing (<i><span style="color:red"><b>W</b></span>osketomp</i> ≠ <i><span style="color:red"><b>w</b></span>osketomp</i>) </label>

        <input type="radio" name="show_differences" id="exclude_casing" value = "exclude_casing">
            <label for="exclude_casing">Yes, ignoring letter casing (<i>Wosketomp</i> = <i>wosketomp</i>)</label>

        <br>
        <u>Underline</u> Hapaxes (only NT for now):
        <input type="radio" name="show_hapaxes" id="dont_show" value = "no" checked>
            <label for="dont_show">No</label>

        <input type="radio" name="show_hapaxes" id="strict" value="strict">
            <label for="strict">Yes, strict on diacritics (<i>mátta</i> ≠ <i>matta</i>)</label>

        <input type="radio" name="show_hapaxes" id="lax" value="lax">
            <label for="ignore_case">Yes, lax on diacritics (<i>mátta</i> = <i>matta</i>)</label>
        <br>

        <button type="submit" >Submit</button>
    </form>
    <br>
    <br>
    <div class="tableFixHead">
        <table class="t">
            {% for column in numRightColumns %}
                <col width="{{ leftColumnMeasure }}">
            {% endfor %}
                <col width="16%">
            {% for column in numLeftColumns %}
                <col width="{{ rightColumnMeasure }}">
            {% endfor %}
            <thead>
                <tr>
                <div class="tableLeftSide">
                    {% if useFirstEdition %}
                        <th width="{{ leftColumnMeasure }}"><div><u>First Edition</u> ({{ firstEditionCount }}) </div></th>
                    {% endif %}

                    {% if useSecondEdition %}
                        <th width="{{ leftColumnMeasure }}"><div><u>Second Edition</u> ({{ secondEditionCount }})</div></th>
                    {% endif %}

                    {% if not useFirstEdition and not useSecondEdition %}
                        {% if useMayhew %}
                            <th width="{{ leftColumnMeasure }}"><div><u>Mayhew</u> ({{ mayhewCount }})</div></th>
                        {% endif %}
                        
                        {% if useZerothEdition %}
                            <th width="{{ leftColumnMeasure }}"><div><u>Zeroth Edition</u> ({{ zerothEditionCount }})</div></th>
                        {% endif %}
                    {% endif %}
                </div>

                <div class="centerVerses">
                    {% if useVerseNumber %}
                        <th class="verseNumHeader" width="16%">
                            <u>Verses</u> ({{ totalVerseCount }})
                        </th>
                    {% endif %}
                </div>

                <div class="tableRightSide">
                    {% if useFirstEdition or useSecondEdition %}
                        {% if useMayhew %}
                            <th width="{{ rightColumnMeasure }}"><div><u>Mayhew</u> ({{ mayhewCount }})</div></th>
                        {% endif %}

                        {% if useZerothEdition %}
                            <th width="{{ rightColumnMeasure }}"><div><u>Zeroth Edition</u> ({{ zerothEditionCount }})</div></th>
                        {% endif %}
                    {% endif %}

                    {% if useKJV %}
                        <th width="{{ rightColumnMeasure }}"><div><u>KJV</u></div></th>
                    {% endif %}
                </div>
                </tr>
            </thead>
            {% for verseIndex in verseList %}
            <tbody>
                <tr>
                    <div class="tableLeftSide">
                        {% if useFirstEdition %}
                        <td width="{{ leftColumnMeasure }}">
                            {{ firstEditionVerseDict[verseIndex] }}
                        </td>
                        {% endif %}
                        {% if useSecondEdition %}
                        <td width="{{ leftColumnMeasure }}">
                            {{ secondEditionVerseDict[verseIndex] }}
                        </td>
                        {% endif %}
                    </div>
                    
                    <div class="centerVerses">
                        {% if useVerseNumber %}
                            <td class="verseNumCell" width="16%">
                                {{ verseIndex }}
                            </td>
                        {% endif %}
                    </div>

                    <div class="tableRightSide">
                        {% if useMayhew %}
                        <td width="{{ rightColumnMeasure }}">
                            {{ mayhewVerseDict[verseIndex] }}
                        </td>
                        {% endif %}

                        {% if useZerothEdition %}
                        <td width="{{ rightColumnMeasure }}">
                            {{ zerothEditionVerseDict[verseIndex] }}
                        </td>
                        {% endif %}

                        <td width="{{ rightColumnMeasure }}">
                            <i>{{ KJVVerseDict[verseIndex] }}</i>
                        </td>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script src="./htmx.min.js"></script>

<script src="{{ url_for('static', filename='chaptergetter.js') }}"></script>

</html>