<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <div>
    <form action="/doproofreading" method="POST">
        <label for="bookSelectionDropdown">Select a Book:</label>
            <select id="bookSelectionDropdown" name="bookSelectionDropdown">
                <option id="defaultBook">{{ defaultBook }}</option>
                
            </select>

        <label for="chapterSelectionDropdown">Select a Chapter:</label>
            <select id="chapterSelectionDropdown" name="chapterSelectionDropdown">
                <option id="defaultChapter">{{ defaultChapter }}</option>
                
            </select>
        <br>

        <input type="checkbox" name="include_first_edition" id="include_first_edition" checked>
            <label for="include_first_edition">First Edition (1661/1663)</label>

        <input type="checkbox" name="include_second_edition" id="include_second_edition" checked>
            <label for="include_second_edition">Second Edition (1685)</label>
        
        {% if hasMayhew %}
        <input type="checkbox" name="include_mayhew" id="include_mayhew" checked>
            <label for="include_mayhew">Mayhew (1709) [does nothing yet]</label>
        {% endif %}

        {% if hasZerothEdition %}
        <input type="checkbox" name="include_zeroth_edition" id="include_zeroth_edition">
            <label for="include_zeroth_edition">"Zeroth"  Edition Genesis (1655) [does nothing yet]</label>
        {% endif %}

        <br>

        <input type="checkbox" name="include_KJV" id="include_KJV" checked>
            <label for="include_KJV">Show KJV</label>

        <button type="submit" >Submit</button>
    </form>
    </div>

    <table>
        <header>
            <tr>
                {% if useFirstEdition %}
                <th>First Edition</th>
                {% endif %}

                {% if useSecondEdition %}
                <th>Second Edition</th>
                {% endif %}

                {% if useVerseNumber %}
                <th class="verseNum"><u>Verse</u></th>
                {% endif %}
                
                {% if useMayhew %}
                <th>Mayhew</th>
                {% endif %}

                {% if useKJV %}
                <th>KJV</th>
                {% endif %}

            </tr>
        </header>
        <content>
        {% for verseIndex in verseList %}
        <tr>
            {% if useFirstEdition %}
            <td>
                {{ firstEditionVerseDict[verseIndex] }}
            </td>
            {% endif %}
            
            {% if useSecondEdition %}
            <td>
                {{ secondEditionVerseDict[verseIndex] }}
            </td>
            {% endif %}

            {% if useVerseNumber %}
                <td class="verseNum">{{ selectedChapter }}.{{ verseIndex }}</td>
            {% endif %}

            {% if mayhewIncluded %}
            <td>
                {{ mayhewVerseDict[verseIndex] }}
            </td>
            {% endif %}

            {% if useKJV %}
            <td>
                {{ KJVVerseDict[verseIndex] }}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </content>
    </table>
    </div>
</body>
<script src="./htmx.min.js"></script>

<script src="{{ url_for('static', filename='chaptergetter.js') }}"></script>

</html>