<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>
        <form action="/doenglishsearch" method="POST">
            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
                <label for="searchWordDropdown" style="padding-right:5px">Word</label>
                <select id="searchWordDropdown" name="searchWordDropdown" style="padding-right:5px">
                    <option id="contains" value="contains">contains: </option>
                    <option id="isExactly" value="exact">is exactly: </option> 
                    <option id="beginsWith" value="starts">begins with: </option>
                    <option id="endsWith" value="ends">ends with: </option>
                </select>

                <input style="padding-left:5px" type="text" name="search_query" placeholder="Search...">
            </div>
            <br>

            Choose which texts to include:
            <input type="checkbox" name="include_first_edition" id="include_first_edition" checked>
            <label for="include_first_edition">First Edition (1661/1663)</label>

            <input type="checkbox" name="include_second_edition" id="include_second_edition" checked>
            <label for="include_second_edition">Second Edition (1685)</label>

            <input type="checkbox" name="include_mayhew" id="include_mayhew" checked>
            <label for="include_mayhew">Mayhew (1709)</label>

            <input type="checkbox" name="include_zeroth_edition" id="include_zeroth_edition">
            <label for="include_zeroth_edition">"Zeroth"  Edition Genesis (1655)</label>

            <button type="submit">Search</button>
        </form>
    </div>
    <table>
        <header>
            <tr>
                {% if KJVIncluded %}
                <th>KJV</th>
                {% endif %}

                {% if firstEditionIncluded %}
                <th>First Edition</th>
                {% endif %}

                {% if KJVIncluded or firstEditionIncluded or secondEditionIncluded or mayhewIncluded %}
                <th class="verseNum"><u>Verse</u></th>
                {% endif %}

                {% if secondEditionIncluded %}
                <th>Second Edition</th>
                {% endif %}

                {% if mayhewIncluded %}
                <th>Mayhew</th>
                {% endif %}
            </tr>
        </header>
        <content>
        {% for verseIndex in verseIndices %}
        <tr>
            <td>
                <i>{{ verseDictionary[verseIndex]['KJV'] }}</i>
            </td>
            {% if firstEditionIncluded %}
            <td>
                {{ verseDictionary[verseIndex]['FirstEdition'] }}
            </td>
            {% endif %}

            <div class="centerVerses">
                {% if KJVIncluded or firstEditionIncluded or secondEditionIncluded or mayhewIncluded %}
                    <td class="verseNumCell">{{ verseDictionary[verseIndex]['Address'] }}</td>
                {% endif %}
            </div>

            {% if secondEditionIncluded %}
            <td>
                {{ verseDictionary[verseIndex]['SecondEdition'] }}
            </td>
            {% endif %}
            {% if mayhewIncluded %}
            <td>
                {{ verseDictionary[verseIndex]['Mayhew'] }}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </content>
    </table>
    </div>
</body>

<script src="./htmx.min.js"></script>
</html>