<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>
        <form action="/doenglishsearch" method="POST">
            <input type="text" name="search_query" placeholder="Search...">
            <button type="submit">Search</button>
            Choose which texts to include

            <input type="checkbox" name="include_first_edition" id="include_first_edition" checked>
            <label for="include_first_edition">First Edition (1661/1663)</label>

            <input type="checkbox" name="include_second_edition" id="include_second_edition" checked>
            <label for="include_second_edition">Second Edition (1685)</label>

            <input type="checkbox" name="include_mayhew" id="include_mayhew" checked>
            <label for="include_mayhew">Mayhew (1709)</label>

            <input type="checkbox" name="include_zeroth_edition" id="include_zeroth_edition">
            <label for="include_zeroth_edition">"Zeroth"  Edition Genesis (1655)</label>
        </form>
    </div>
    <table>
        <header>
            <tr>
                {% if KJVIncluded %}
                <th>KJV</th>
                {% endif %}

                {% if firstEditionIncluded %}
                <th>First Edition</th>
                {% endif %}

                {% if KJVIncluded or firstEditionIncluded or secondEditionIncluded or mayhewIncluded %}
                <th class="verseNum"><u>Verse</u></th>
                {% endif %}

                {% if secondEditionIncluded %}
                <th>Second Edition</th>
                {% endif %}

                {% if mayhewIncluded %}
                <th>Mayhew</th>
                {% endif %}
            </tr>
        </header>
        <content>
        {% for verseIndex in verseIndices %}
        <tr>
            <td>
                {{ verseDictionary[verseIndex]['KJV'] }}
            </td>
            {% if firstEditionIncluded %}
            <td>
                {{ verseDictionary[verseIndex]['FirstEdition'] }}
            </td>
            {% endif %}

            {% if KJVIncluded or firstEditionIncluded or secondEditionIncluded or mayhewIncluded %}
                <td class="verseNum">{{ verseDictionary[verseIndex]['Address'] }}</td>
            {% endif %}

            {% if secondEditionIncluded %}
            <td>
                {{ verseDictionary[verseIndex]['SecondEdition'] }}
            </td>
            {% endif %}
            {% if mayhewIncluded %}
            <td>
                {{ verseDictionary[verseIndex]['Mayhew'] }}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </content>
    </table>
    </div>
</body>

<script src="./htmx.min.js"></script>
</html>