<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>
        <form action="/domasssearch" method="POST">
            <input type="text" name="search_query" placeholder="Search...">
            <button type="submit">Search (use <b><i>8</i></b> for the double-o ligature)</button>
            Choose which texts to include: 

            <input type="checkbox" name="include_first_edition" id="include_first_edition" checked>
            <label for="include_first_edition">First Edition (1661/1663)</label>

            <input type="checkbox" name="include_second_edition" id="include_second_edition" checked>
            <label for="include_second_edition">Second Edition (1685)</label>

            <input type="checkbox" name="include_mayhew" id="include_mayhew" checked>
            <label for="include_mayhew">Mayhew (1709)</label>

            <input type="checkbox" name="include_zeroth_edition" id="include_zeroth_edition">
            <label for="include_zeroth_edition">"Zeroth"  Edition Genesis (1655)</label>

            <br>

            <input type="radio" id="diacritics_strict" name="diacritic_strictness" value="strict" checked>
            <label for="diacritics_strict">Strict Diacritics</label>

            <input type="radio" id="diacritics_lax" name="diacritic_strictness" value="lax">
            <label for="diacritics_lax">Lax Diacritics</label>

        </form>
    </div>
    <br>

    <br>
    <div class="tableFixHead">
        <table class="t">
            {% for column in numRightColumns%}
                <col width="{{ rightColumnMeasure }}">
            {% endfor %}
            <col width="16%">
            {% for column in numLeftColumns %}
                <col width="{{ leftColumnMeasure }}">
            {% endfor %}

            <thead>
                <tr>
                <div class="tableLeftSide">
                    {% if firstEditionIncluded %}
                    <th><div><u>First Edition</u> ({{ firstEditionCount }}) </div></th>
                    {% endif %}

                    {% if secondEditionIncluded %}
                    <th><div><u>Second Edition</u> ({{ secondEditionCount }})</div></th>
                    {% endif %}

                    {% if not firstEditionIncluded and not secondEditionIncluded %}
                        {% if mayhewIncluded %}
                        <th><div><u>Mayhew</u> ({{ mayhewCount }})</div></th>
                        {% endif %}

                        {% if zerothEditionIncluded %}
                        <th><div><u>Zeroth Edition</u> ({{ zerothEditionCount }})</div></th>
                        {% endif %}
                    {% endif %}
                </div>

                <div class="centerVerses">
                    {% if KJVIncluded or firstEditionIncluded or secondEditionIncluded or mayhewIncluded or zerothEditionIncluded %}
                        <th class="verseNumHeader">
                            <span style="font-size: 20px">
                            <span style="color:red">{{ totalAll }}</span> <span style="font-weight: normal">tokens found </span>
                            </span>
                            <br>
                            <u>Verses</u> ({{ totalVerseCount }})
                        </th>
                    {% endif %}
                </div>

                <div class="tableRightSide">
                    {% if firstEditionIncluded or secondEditionIncluded %}
                        {% if mayhewIncluded %}
                        <th><div><u>Mayhew</u> ({{ mayhewCount }})</div></th>
                        {% endif %}

                        {% if zerothEditionIncluded %}
                        <th><div><u>Zeroth Edition</u> ({{ zerothEditionCount }})</div></th>
                        {% endif %}
                    {% endif %}

                    {% if KJVIncluded %}
                    <th><div><u>KJV</u></div></th>
                    {% endif %}
                </div>
                </tr>
            </thead>
            {% for verseIndex in verseIndices %}
            <tbody>
                <tr>
                    <div class="tableLeftSide">
                        {% if firstEditionIncluded %}
                        <td>
                            {{ printFirstEditionLines[verseIndex] }}
                        </td>
                        {% endif %}
                        {% if secondEditionIncluded %}
                        <td>
                            {{ printSecondEditionLines[verseIndex] }}
                        </td>
                        {% endif %}
                    </div>
                    
                    <div class="centerVerses">
                        {% if KJVIncluded or firstEditionIncluded or secondEditionIncluded or mayhewIncluded or zerothEditionIncluded %}
                            <td class="verseNumCell">
                                {{ verseDictionary[verseIndex] }}
                            </td>
                        {% endif %}
                    </div>

                    <div class="tableRightSide">
                        {% if mayhewIncluded %}
                        <td>
                            {{ printMayhewLines[verseIndex] }}
                        </td>
                        {% endif %}

                        {% if zerothEditionIncluded %}
                        <td>
                            {{ printZerothEditionLines[verseIndex] }}
                        </td>
                        {% endif %}

                        <td>
                            <i>{{ printKJVLines[verseIndex] }}</i>
                        </td>
                    </div>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>

<script src="./htmx.min.js"></script>
</html>